(tls) {
	tls /root/certs/cert.pem /root/certs/key.pem
}

app.home.lab {
	import tls

	reverse_proxy {$LOAD_BALANCER_IP}
}

*.app.home.lab:80 {
	redir https://{host}{uri} permanent
}

*.app.home.lab:443 {
	import tls

	@dex host dex.app.home.lab
	handle @dex {
		reverse_proxy dex:5556
	}

	@frontend host frontend.app.home.lab
	handle @frontend {
		reverse_proxy frontend
	}

	@gitea host gitea.app.home.lab
	handle @gitea {
		reverse_proxy gitea:3000
	}

	@minio host minio.app.home.lab
	handle @minio {
		redir /console /console/

		handle_path /console/* {
			reverse_proxy minio:9001
		}

		handle {
			reverse_proxy minio:9000
		}
	}
}
